src/main/mule/writeimagefile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a936253f-0fd6-4cb8-bf3a-f6df39c8b1a5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="85d3db7b-0f1c-44c2-9680-72f23c339115" />
	<file:config name="File_Config1" doc:name="File Config" doc:id="60b467c2-9b4e-46da-9949-f3b05b783cf6" >
		<file:connection />
	</file:config>
	<flow name="writeimagefileFlow1" doc:id="9575e619-f5ce-4a4a-9cb3-1cfc276edb3e" >
		<http:listener doc:name="Listener" doc:id="a0b3a3aa-0bce-47d0-93a1-f2822713558d" config-ref="HTTP_Listener_config" path="/pdf"/>
		<logger level="INFO" doc:name="Logger" doc:id="2037e258-38c6-439a-b0b0-7e249237cd49" message="started"/>
		<ee:transform doc:name="Transform Message" doc:id="d0f862fd-511b-4cc2-8a4a-f150252dc701" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries

output multipart/form-data
---
{
    parts:{
        base64Content:{
            headers:{
                "Content-Type":"application/pdf"
            },
            content: fromBase64(payload)
            },
        }
}

   
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2c6c3e99-7fb4-4348-bed6-ff7cfa0f9faa" mimeType="application/pdf"/>
		<file:write doc:name="Write" doc:id="c8b3738a-ac95-440f-990a-b305294b9746" config-ref="File_Config1" path="C:\Users\hp\Desktop\Siva Mulesoft\Files_saved\new.pdf"/>
	</flow>
	<flow name="writeimagefileFlow2" doc:id="fba9721b-5833-44ee-9488-e26ed363e570" >
		<http:listener doc:name="Listener" doc:id="80173d59-c4f1-4d1a-9b60-f9e0c6752f32" config-ref="HTTP_Listener_config" path="/json"/>
		<ee:transform doc:name="Transform Message" doc:id="d6e53705-c137-4e5a-aea6-132ab29c177d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
readUrl("classpath://employee.json","application/json")]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f8eb2c49-a18c-4a6e-b841-3ac8cf145e62" message="compleated"/>
	</flow>
	<flow name="writeimagefileFlow" doc:id="ba9688ef-e5bc-42eb-ac54-46142ea73f11" >
		<http:listener doc:name="Listener" doc:id="c86cd078-6a19-4ed4-bdc6-d123056e7e43" config-ref="HTTP_Listener_config" path="/image"/>
		<logger level="INFO" doc:name="Logger" doc:id="769f3099-2808-49b0-90c6-fca0e4fa7dc7" message="flow started"/>
		<ee:transform doc:name="Transform Message" doc:id="581641d4-30a1-480e-9608-2cccdf5e9d86" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Binaries
output application/octet-stream
---
fromBase64(payload)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="1325cdef-475e-42b4-8d2b-cdcb8cee36f9" config-ref="File_Config" path="C:\Users\hp\Desktop\Siva Mulesoft\Files_saved\image.jpeg"/>
	</flow>
</mule>
